.Project {
    aspect-ratio: 1;
}

.Project
.Empty {
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

@media screen and (max-width: 1024px) {
    .Project {
        display: inline-block;
        height: 256px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .Project {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
