.About {
    --animation-duration: 300ms;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    visibility: hidden;

    transition: visibility var(--animation-duration) linear;

    user-select: none;
    overflow: hidden;
}

.About.Show {
    visibility: visible;
}

.About
.Scrim {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    
    animation-name: hide-scrim;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.About
.Content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;
    background-color: #efefef;

    animation-name: hide-content;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: both;

    overflow: scroll;
}

.About.Show
.Scrim {
    animation-name: show-scrim;
}

.About.Show
.Content {
    animation-name: show-content;
}

@keyframes show-scrim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
@keyframes hide-scrim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 420px) {
    @keyframes show-content {
        0% {
            opacity: 0;
            transform: translateY(-50%);
            border-bottom-left-radius: min(35vw, 35vh);
            border-bottom-right-radius: min(35vw, 35vh);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    
    @keyframes hide-content {
        0% {
            opacity: 1;
            top: 0;
        }
        100% {
            opacity: 0;
            top: -10%;
        }
    }
}

@media screen and (min-width: 420px) {
    @keyframes show-content {
        0% {
            opacity: 0;
            transform: translateX(-50%);
            border-top-right-radius: min(35vw, 35vh);
            border-bottom-right-radius: min(35vw, 35vh);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
            border-top-right-radius: 0%;
            border-bottom-right-radius: 0%;
        }
    }
    
    @keyframes hide-content {
        0% {
            opacity: 1;
            left: 0;
        }
        100% {
            opacity: 0;
            left: -10%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .About
    .Content {
        width: fit-content;
    }
}

.About
.Content {
    box-sizing: border-box;
    padding: 48px;
}

.About
.DismissContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#DismissButton
.SvgIcon {
    transition: all 150ms linear;
    transform-origin: center;
}

#DismissButton:hover
.SvgIcon {
    fill: var(--accent-color);
    transform: rotate(90deg);
}