.Introduction
.PortraitContainer {
    position: relative;
    width: 204px;
    height: 264px;
    margin-bottom: 48px;
}

.Introduction
.Border {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 180px;
    height: 240px;
    border: 1px solid #212121;
    box-sizing: border-box;
}

.Introduction
.Portrait {
    position: absolute;
    width: 180px;
    height: 240px;
    object-fit: cover;
}

@media screen and (max-width: 799px) {
    .Introduction {
        display: flex;
        flex-direction: column;
        margin: 48px 0 0 0;
    }

    .Introduction
    h3 {
        width: 140px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 799px) {
    .Introduction {
        display: flex;
        flex-direction: row;
        margin: 48px 48px 0;
        column-gap: 96px;
    }

    .Introduction
    .Arrow {
        margin-top: 48px;
    }

    .Introduction
    h3 {
        width: 140px;
        margin-top: 24px;
    }

    .Introduction
    .Body {
        width: 280px;
    }
}