.App {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.Home {
    height: 100%;
    width: 100%;
}

.Presentation {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
    .App {
        overflow: hidden;
    }

    .Home {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .Presentation {
        flex: 2.5;
        height: 100%;
        overflow: scroll;
    }

    .Presentation::-webkit-scrollbar {
        display: none;
    }
}