.App {
    position: relative;
    width: 100vw;
}

.Presentation {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .App {
        overflow: hidden;
    }

    .Home {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .App {
        overflow: hidden;
        height: 100vh;
    }

    .Home {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }

    .Presentation {
        flex: 2.5;
        height: 100%;
        overflow: scroll;
    }

    .Presentation::-webkit-scrollbar {
        display: none;
    }
}