html {
  --accent-color: #ff4081;

  background-color: #fafafa;
  color: #212121;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

:root {
  font-size: 16px;
}

h1 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 6.06rem;
  letter-spacing: -1.5px;
}

h2 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 3.81rem;
  letter-spacing: -0.5px;
}

h3 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 3rem;
}

h4 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

h5 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.5rem;
}

h6 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

p.Body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  :root {
    font-size: 10px;
  }
}